body {
    background-color: #FFFFFF;
}
.container {
    display: flex;

}
.block {
    flex-grow: 1;
    height: 250px;
    outline: 1px solid black;
    margin: 5px;
    background-color: blueviolet;
    text-align: left;
    line-height: 250px;
}
@media (min-width: 720px){

}