body {
    overflow-x: hidden;
    background: linear-gradient(180deg, #FFFFFF 0%, #F0F1FF 100%);

}
.wrapper {   /* ashorebs kontents marcxena kididan   */
    max-width: 50rem;
    margin-inline: auto;
    padding-inline: 1rem;
}
h1 {
    font-family: 'Plus Jakarta Sans', sans-serif; 
    font-size: 40px; 
    color: #13183F; 
    font-weight: 800;
    line-height: 50px;
    text-align: left;
    vertical-align: top;
    margin-top: 11%;
    
}
h7 {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 28px; 
    color: #13183F; 
    font-weight: 800;
    line-height: 35px;
    text-align: left;
    vertical-align: top;
}

p {
    font-family: 'Plus Jakarta Sans', sans-serif;
    text-align: left;
    font-size: 16px;
    line-height: 129%;
    box-align:left;
    color: #83869A;


}
.iconi {
    position: absolute;
    margin-top:-20px;
    left: 1%;
}
.container {
    display: flex;
    flex-wrap: wrap;
}
.block {
    flex-grow: 1;
    background: #FFFFFF;
    height: 250px;
    border-radius: 28px;
    margin: 10px;
    text-align:center;
    line-height: 30px;
    position:relative;
    
}
.buttonS{
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-image: 
    linear-gradient(
        45deg,
      white,
       white
    );
    border: none;
    color:  #F74780;
    padding-top: 20px;
    left: 0.1%;
    position: absolute;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    cursor: pointer;
}
.buttonS:hover {opacity: 0.5}
.button:hover {opacity: 0.5}
.buttonB:hover {opacity: 0.5}
.button1:hover {opacity: 0.5}
.button {
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-image: 
    linear-gradient(
        45deg,
       #FF6F48,
       #F02AA6
    );
    border: none;
    color: #ffffff;
    padding: 15px 32px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    height: 48px;
    width: 140px;
    font-size: 13px;
    margin: 4px 2px;
    border-radius: 28px;
    cursor: pointer;
    margin-top: 5%;
}
.buttonB {
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-image: 
    linear-gradient(
        45deg,
       #FF6F48,
       #F02AA6
    );
    border: none;
    color: #ffffff;
    padding: 32px 32px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 4px 2px;
    border-radius: 28px;
    cursor: pointer;
}
.button1 {
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color: #13183F;
    border: none;
    color: #ffffff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    height: 48px;
    width: 140px;
    font-size: 13px;
    margin: 4px 2px;
    border-radius: 28px;
    cursor: pointer;
    position: absolute;
    right: 1%;
    
}
.desktop {
    display:none; 
}
.tablet {
    display: none;
}

[class*="col-"] {
    width: 100%;
  }
@media only screen and (min-width: 376px) {
    /* For desktop: */
    .desktop {
        display:block;
        position: absolute;
    }
    .container{
        display: flex;
        flex-wrap: wrap;
        
    }
    .mobile {
        display:none;
    }

    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }
  @media only screen and (min-width: 769px) {
    .tablet {
        display: block;
        position: absolute;
        left: 70%;
        bottom: 50%;
    }
    .mobile {
        display:none;
    }
    .desktop {
        display:none;
        position: absolute;
        left: 20%;
    }

  }